<main class="session-new">
  <div class="container text-center">
    <div class="col-xs-6 col-xs-offset-3">
      <h1>Welcome</h1>

      <%= form_with url: signin_path, class: 'form-inline' do |f| %>
        <div class="row">
          <%= f.text_field :user_name, class: 'form-control', placeholder: 'Your Name' %>
          <%= f.submit 'Go', class: 'submit-btn btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</main>
