<li>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="record-detail">
        <span class="item_name"><%= payment_record.item_name %></span>
        <span class="price">$<%= "%.2f" % payment_record.dollar_price %></span>
      </div>
    </div>
  </div>
</li>
