<% if @payment_record.errors.any? %>
  alert('<%=j @payment_record.errors.full_messages.join(',') %>');
<% else %>
  document.querySelector('ul.record-list').insertAdjacentHTML('beforeend', '<%=j render(@payment_record) %>');
  document.querySelector('.total .number').innerHTML = '<%= "%.2f" % @total_dollar_price %>';
<% end %>
