<main class="payment_records-index">
  <div class="container text-center">
    <div class="inner-container col-sm-6 col-sm-offset-3">
      <div class="header-panel">
        <h1>Payment Records</h1>
        <div class="user-panel">
          <span class="user-name label label-default">
            <%= current_user.name %>
            <%= link_to '×', signout_path, method: :delete, class: 'signout-link', data: { remote: true } %>
          </span>
        </div>
      </div>

      <div class="record-panel">
        <ul class="record-list">
          <%= render @payment_records %>
        </ul>
        <div class="total-panel clearfix">
          <div class="total pull-right">
            Total: $<span class="number"><%= "%.2f" % @total_dollar_price %></span>
          </div>
        </div>
      </div>

      <div class="form-panel">
        <%= form_with scope: :payment_record, url: payment_records_path, class: 'inline-form' do |f| %>
          <%= f.text_field :item_name, placeholder: 'Item Name', class: 'form-control' %>
          <%= f.text_field :dollar_price, placeholder: 'Price', class: 'form-control' %>
          <%= f.submit 'Add', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</main>

