.payment_records-index {
  h1 {
    margin: 34px 0 12px;
  }

  .user-panel {
    margin: 15px 0;
  }

  .user-name {
    position: relative;

    .signout-link {
      position: absolute;
      width: 12px;
      height: 12px;
      color: #FFF;
      background-color: red;
      border-radius: 50%;
    }
  }

  .record-panel {
    flex: 1;
  }

  .record-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .record-detail {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .form-panel {
    margin-top: 100px;
  }

  form {
    display: flex;
    justify-content: space-between;

    input {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
