.session-new {
  h1 {
    margin: 34px 0 12px;
  }

  .row {
    display: flex;
    justify-content: space-between;

    .form-control {
      flex: 1;
      width: 100%;
    }

    .submit-btn {
      flex: 0;
      margin-left: 10px;
    }
  }
}
